@import url('https://fonts.googleapis.com/css?family=Mali');
body {
  background-image: url(woodBlack.jpeg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  object-fit: contain;
  margin: 0;
  color: #fff;
  font-family: sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
margin-bottom: 500px; 
font-size: 100px;
font-family:  'Mali';
color: rgba(255, 255, 255, 0.616);
padding: 25px 50px 75px 100px;
margin: -354px -90px 34px 120px; 

}

main {
  /* position: absolute; */
  position: fixed;
  width: 100vw;
  height: 87vh;
  margin-top: 13vh;
}

table,
td {
  border: 10px solid rgba(255, 255, 255, 0.616);
  color: rgba(255, 255, 255, 0.616);
  border-collapse: collapse;
  background-color: none;
  font-family:  'Mali', cursive;
  font-size: 200px;
  word-wrap: break-word;
  height: 400px;
  width: 400px;
  text-align: center;
}
td {
  padding: 50px;
}

table {
  border-style: hidden;
  table-layout: fixed;
  overflow: hidden;
  width: 1200px;
  height: 1200px;
  padding: 0;
  margin: 0 auto;
  margin-top: 200px;
   /* lines under that for try */
   
}

footer {
  text-transform: uppercase;
  padding: 0 20px;
  background-color: rgb(92, 124, 145);
  color: rgba(255, 255, 255, 0.74);
  font-size: 14pc;
  letter-spacing: 0.08%;
  font-weight: 500;
  position: fixed;
  bottom: 1%;
  width: 100vw;
  text-align: center;
}

.message {
  font-family: releway;
  font-size: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.pl{
  
   cursor: pointer;
  font-size: 100px;
font-family:  'Mali';
color: rgba(255, 255, 255, 0.616);

}
.square {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  cursor: pointer;
}
.square:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #a76489a9;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
.square:hover:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.winner  {
  background: #a76489a9;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  
}

/* here for noem try gd luck */

.neom {
  font-weight: bold;
  font-family: cursive;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  font-size: 6em;
  color: #fff;
 /* color-shadow: 0 0 20px #ff005b; */


}
.neom:after{
  content: attr('data-text');
  position: absolute;
  top:0;
  left:0;
  padding:0 20px; 
  z-index: -1;
  color: #ff005b;
  filter: blur(1px); 

}
.neom:before{

content: '';
position: absolute;
 top:0;
 left:0;
 width: 100%;
 height: 100%;
 background: #fe3a80;
 z-index: -z ;
 opacity: .5;
 filter:blur(70px);
}
